body{
	margin: 0px;
}
#navbar #botonarriba button{
	height: 65%;
background-color: #AB91FF; 
padding: 7px;
font-size: 100%;
font-variant: small-caps;
font-family: arial;
color: white; 
border-radius: 5px;
float: right;
margin-right: 0.5%;
margin-top: -1%;  
}
button:hover{
	background: center;
	background-color:  #A84441;
	color: white;
	font-style: oblique;
	position: right; 
}

#navbar{
	width: 100%;
	height: 50px;
	border: 1px solid black;
	background-color: lightgray;
	font-variant: small-caps;
	text-align: left;
	}
#navbar p{
	padding-top: 0%;
	margin: 0px;
}


#imagen{
	width: 100%;
	height: 500px;
	border-left: 1px solid black;
	border-bottom:1px solid black;
	border-right: 1px solid black;
	z-index: -1;
	position: absolute;
	filter: blur(2px);
	margin-top: 0%;

}
#imagensegunda{
width: 100%;
	height: 500px;
	border-left: 1px solid black;
	border-bottom:1px solid black;
	border-right: 1px solid black;
	z-index: -1;
	position: absolute;
	filter: blur(2px);
	margin-top: 0%;


}

#imagentercera{
width: 100%;
	height: 500px;
	border-left: 1px solid black;
	border-bottom:1px solid black;
	border-right: 1px solid black;
	z-index: -1;
	position: absolute;
	filter: blur(2px);
	margin-top: 0%;

}

#imagencuarta{
	width: 100%;
	height: 500px;
	border-left: 1px solid black;
	border-bottom:1px solid black;
	border-right: 1px solid black;
	z-index: -1;
	position: absolute;
	filter: blur(0px);

}

#textoarriba{
	margin-top: 7%;
	font-size: 75px;
  text-align: center;
  font-family: monotype corsiva;
  font-style: oblique;
  color:	white;
}

.features{
	width: 100%;
	margin: 10px;
	height:auto;
	display: inline-flex;
border:0px solid white;
border-radius: 15px;
color: white;
}

.feature{
width: 33%;
border: 0px double blue;
padding: 50px;
}

.feature img {
	width: 50%;
	border-radius:100%;
}

#intermedio {
	display: inline-flex;
	padding: 4.5em;
	height: 365px;
	color: white;
}
#intermedio p {
	width: 100%;
	height: auto;
}
#intermedio img {
	width: 30%;
	vertical-align: middle;
	border-radius: 100%;
}

#formulario{
	background-color: lightgray;
	text-align:center;
	margin-top: -0.5%;
	width: 92%;
	padding: 4%; 

}

#formulario form{
	width:0%;
	background-color: blue;
}
section #comentario{
	padding: 100px;
}


footer{
	border: 2px solid black;
	width: 90%;
	padding: 5%;
	background-color: lightblue;
	font-variant: small-caps;
	font-size: 70px;
}

}
#navbar a {
	width: auto;
}
h2{
	font-variant: small-caps;
	font-size: 75px;
margin-top: -0.7%;
margin-left: 10%;
text-align: center;
}

